@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.projectTitle{
    margin-top: 30px;
    color: #0c0735; 
    font-family: "Kalam"; 
    font-size: 60px;  
    line-height: 48px; 
    text-align: center;
    margin-bottom: 30px;
}

.card {
    height: fit-content;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.card > h1 {
    margin-top: 1rem;
    font-family: "Kalam";
    font-weight: normal;
    font-size: 2rem;
    color: #2f2f53;
    text-align: center;
    background-color: #C0C0C0;
}

.imgicon {
    width: 180px;
    height: 180px;
  }

.imgs {
    display: flex;
    justify-content: center;
}

.btnstyle {
  align-items: center;
  background-color:whitesmoke;
  border-radius: 4px;
  color: #222224;
  display: inline-flex;
  justify-content: center;
  font-family: Futara;
  margin-top: 10px;
  font-size: 18px;
  height: 48px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
}

.btnstyle:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}




